<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>

  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="index.html" class="js-logo-clone">Shoppers</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
              </div>
            </div>

          </div>
        </div>
      </div>
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
        </div>
      </nav>
    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black"><%= productDetailsId[0].ProductName %></strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src=<%= productDetailsId[0].ProductImage %> alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6">
            <h2 class="text-black"><%= productDetailsId[0].ProductName %></h2>
            <p> <%= productDetailsId[0].ProductDetails %></p>
            <p>Category: <%= productDetailsId[0].ProductCategory %></p>
            <p>Quantity: <%= productDetailsId[0].ProductQuantity %></p>
            <p><strong class="text-primary h4">&#x20b9; <%= productDetailsId[0].ProductPrice %></strong></p>

            <p><a href="#" class="buy-now btn btn-sm btn-primary">Add To Cart</a></p>

            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Manufacturer</th>
                  <th scope="col">Distributor</th>
                  <th scope="col">Retailer</th>
                  <th scope="col">Compilance Detail</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= productDetailsId[0].Manufacturer %></td>
                  <td><%= productDetailsId[0].Distributor %></td>
                  <td><%= productDetailsId[0].Retailer %></td>
                  <td><%= productDetailsId[0].CompilanceDetail %></td>
                </tr>
              </tbody>
            </table>



          </div>
        </div>
      </div>
    </div>


  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>

  <script src="/js/main.js"></script>

  </body>
</html>
